extends layout

block content
  table(class='gridtable')
    tr
      th Id
      th Username
      th User Level
      th Email
      th Age
      th Best Pizza Topping
      th Most Important Meal
      th Best Beverage
      th 
    each item in people
      tr
        td
          a(href='/details/' + item.id) #{item.id}
        td #{item.username} 
        td #{item.user_level}
        td #{item.email}
        td #{item.age}
        td #{item.ans1}
        td #{item.ans2}
        td #{item.ans3}
        td
          a(href='/delete/' + item.id) Delete
  p
    #menu
    a(href='/create') Add new person