extends layout

block content
  form(id='form', method='post', action='/create')
    label(for='username') Username: 
    input(type='text', name='username')
    br
    label(for='password') Password: 
    input(type='password', name='password')
    br
    label(for='user_level') User Level: 
    select(type='text', name='user_level')
      option(value='regular') Regular
      option(value='admin') Admin
    br
    label(for='email') Email: 
    input(type='text', name='email')
    br
    label(for='age') Age: 
    input(type='text', name='age')
    br
    each question in questions
      label(for='q1') #{question.q}: 
      select(name='ans1')
        option(value=question.answers[0]) #{question.answers[0]}
        option(value=question.answers[1]) #{question.answers[1]}
        option(value=question.answers[2]) #{question.answers[2]}
        option(value=question.answers[3]) #{question.answers[3]}
      br
    input(type='submit', value='Add User')
